{% extends 'main.twig' %} 

{% block body %}
    <section class="content">
        <div class="row">
            <div class="col-md-6">

                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title"><b>{{title}}</b></h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <form class="edit_language" method="Post">

                            <input value="{{autofill['id']}}" name="book_id" type="hidden" class="form-control" autocomplete="off" autocapitalize="off">    
                            
                            <div class="form-group">
                                <label>Book's name</label>
                                <input maxlength="400" required value="{{autofill['name']}}" name="book_name" type="text" class="form-control" autocomplete="off" autocapitalize="off">
                            </div>
                            
                            <div class="form-group">
                                <label>Author</label>
                                <select required class="form-control" name="author_id">
                                    {% for key,value in authors %}
                                        <option {% if autofill['author_id'] == authors[key]['id'] %}selected{% endif %} value="{{authors[key]['id']}}">{{authors[key]['name']}} {{authors[key]['surname']}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary save_author">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>        
        </div>
    </section>   
{% endblock %}{# empty Twig template #}
