{% extends 'main.twig' %} 

{% block body %}
    
    <section class="content authors_list">
        <div class="row">
            <div class="col-md-12">

                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title"><b>Authors</b></h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table no-margin main_url_list">
                            <thead>
                                <tr class="links_navigation">
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Books</th>
                                    <th>Birth date</th>
                                    <th>Added</th>
                                    <th>Controls</th>
                                </tr>
                            </thead>
                            <tbody> 
                                
                                {% for key,value in authors %}
                                    <tr class="author_{{authors[key]['id']}}">
                                        <td class="table_id">{{authors[key]['id']}}</td>
                                        <td class="author_name">{{authors[key]['name']}}</td>
                                        <td class="author_surname">{{authors[key]['surname']}}</td>
                                        <td class="total_books">{{authors[key]['total_books']}}</td>
                                        <td class="birthdate">{{authors[key]['birthdate']}}</td>
                                        <td class="created">{{authors[key]['added']}}</td> 
                                        <td class="controls">
                                            <a class="control_item control_edit" data-id="{{authors[key]['id']}}" href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                            <a class="control_item control_remove" data-id="{{authors[key]['id']}}" href="#"><i class="fa fa-trash" aria-hidden="true"></i></a> 
                                        </td> 
                                    </tr>
                                {% endfor %}
                               
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>        
        </div>
    </section>  
    
{% endblock %}