<div class="site-index">
    {% for key,value in authors %}
        <div class="author_wrap">
            
            <div class="author">
                <span class="author author_name_surname">{{authors[key]['name']}} {{authors[key]['surname']}}</span>
                <span class="author author_birthday">{{authors[key]['birthdate']}}</span>
            </div>  
            
            <div class="table">
            {% if authors[key]['books']|length > 0 %}
                <table class="table">
                <thead>
                    <tr>
                      <th scope="col">Book's name</th>
                      <th scope="col">Added</th>
                    </tr>
                </thead>
                    <tbody>
                    {% for bkey,value in authors[key]['books'] %}

                        <tr>
                          <th class="book_item book_name">{{authors[key]['books'][bkey]['name']}}</th>
                          <td class="book_item book_added">{{authors[key]['books'][bkey]['added']}}</td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
